body {
    padding-top: 5%;
    font-family: 'Rozha One', serif;
}

#login,
#loggedin {
    display: none;
}

#login {
    position: absolute;
    top: 25%;
    left: 25%;
    right: 25%;
    text-align: center;
}

#login-button {
    background-color: #fff;
    background-image: linear-gradient(to right, #324276, #6746a4, #b84ba7, #ed6176, #f0964b);
    border: none;
}

#tooltip {
  display: none;
  position: absolute;
  z-index: 2;
  min-width: 30px;
  min-height: 30px;
  padding: 5px;
  font-size: 100%;
  background: #fff;
  pointer-events: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  opacity: 0.9;
}

.sweetener {
  position: fixed;
  z-index: -1;
  opacity: 0.1;
  left: 5%;
  bottom: 0px;
  width: 400px;
}

.ariana-grande {
  position: fixed;
  z-index: -1;
  opacity: 0.1;
  top: 0px;
  left: 65%;
  width: 450px;
}

p, ul {
  font-family: 'Oxygen', sans-serif;
}

p {
    margin-top: 2%;
    margin-bottom: 2%;
}


ul {
    list-style-position: inside;
    padding: 2%;
    font-size: 13px;
    border: 2px solid;
    border-image: linear-gradient(to right, #324276, #6746a4, #b84ba7, #ed6176, #f0964b) 27 / 3px;
}

.title {
  font-size: 45px;
  border-bottom: 2px solid #cccfff;
}

h3 {
  border-bottom: 2px solid #cccfff;
}

select {
  min-width: 15%;
}

a {
    color: #ffa7e5;
    transition: all 0.2s ease;
}

#song-radial-chart-one, #song-radial-chart {
    margin-top: 3%;
}

.radial-axis line {
    stroke: #ccc;
    stroke-width: 0.5px;
}

.radial-axis.radial-scale-text {
    font-family: 'Oxygen';
    font-size: 10px;
}

#song-scatter-chart {
    width: 100%;
    height: 75%;
}

#property {
    color: #868efc;
}

.bubble {
    stroke: #ccc;
    opacity: 0.75;
}

.x-axis, .y-axis {
    font-family: 'Rozha One', serif;
}

.x-axis .domain, .y-axis .domain {
    color: #cccfff;
}

.y-axis .tick line {
    display: none;
}

.album-text {
    font-size: 9px;
}

#sources {
    padding-bottom: 5%;
}

@media only screen and (max-width: 1100px) {
    #sources {
        padding-bottom: 50%;
    }
}
