body {
    padding-top: 5%;
    font-family: 'Rozha One', serif;
}

#login,
#loggedin {
    display: none;
}

#login {
    position: absolute;
    top: 25%;
    left: 25%;
    right: 25%;
    text-align: center;
}

#login-button {
    background-color: #fff;
    background-image: linear-gradient(to right, #324276, #6746a4, #b84ba7, #ed6176, #f0964b);
    border: none;
}

#tooltip {
  display: none;
  position: absolute;
  z-index: 2;
  min-width: 30px;
  min-height: 30px;
  padding: 5px;
  font-size: 100%;
  background: #fff;
  pointer-events: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  opacity: 0.9;
}

img {
  position: fixed;
  z-index: -1;
  opacity: 0.1;
  top: 0px;
  left: 65%;
  width: 450px;
}

p, ul {
  font-family: 'Oxygen', sans-serif;
}

ul {
    list-style-position: inside;
    padding: 2%;
    border: 2px solid #ffa7e5;
}

.title {
  border-bottom: 2px solid #cccfff;
}

h3 {
  display: inline;
  border-bottom: 2px solid #cccfff;
}

p {
    margin-top: 2%;
}

select {
  margin-left: 15%;
  min-width: 15%;
}

#song-radial-chart-one {
    margin-top: 3%;
}

.radial-axis line {
    stroke: #ccc;
    stroke-width: 0.5px;
}

#song-scatter-chart {
    width: 100%;
    height: 75%;
}

#property {
    color: #868efc;
}

.bubble {
    stroke: #ccc;
    opacity: 0.75;
}

.x-axis, .y-axis {
    font-family: 'Rozha One', serif;
}

.x-axis .domain, .y-axis .domain {
    color: #cccfff;
}

.y-axis .tick line {
    display: none;
}

.album-text {
    font-size: 9px;
}

.range-text {
    font-size: 7px;
    fill: #868efc;
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 500px;
}
